<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='random.css') }}">
    <script src="{{ url_for('static', filename='random.js') }}" type="text/javascript"></script>
    <title>A carefully selected image from CO</title>
</head>
<body>
<section class="hero is-success is-small">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="https://collections.tepapa.govt.nz">Go to CO</a>
                        <a class="navbar-item" href="https://data.tepapa.govt.nz/docs/">About our API</a>
                        <span class="navbar-item">
                            <a class="button is-success is-inverted" href="https://github.com/lucyschrader/randomCO">
                                <span class="icon">
                                    <ion-icon name="logo-github"></ion-icon>
                                </span>
                                <span>See this on github</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        {% block hero %}
        {% endblock %}
    </div>
</section>
{% block content %}
{% endblock %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>