{% extends 'base.html' %}
{% block hero %}
<p class="title">{{ record_count }} records with images in Collections Online</p>
<p class="subtitle">and we're showing you this one</p>
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="ticker">
            <div class="progress-container">
                <div class="progress" id="progressbar"></div>
            </div>
            <div><a id="hurryup" onclick="window.location.reload()" class="button">I'm impatient</a></div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="content record-display">
            <div class="tile is ancestor">
                <div class="tile is-4 is-vertical is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title is-3">{{ record.title }}</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <!-- humanities metadata -->
                        {% if record_metadata.makers %}
                            <p><strong>Made by:</strong> {{ record_metadata.makers }}</p>
                        {% endif %}
                        {% if record_metadata.date_created %}
                            <p><strong>Date created:</strong> {{ record_metadata.date_created }}</p>
                        {% endif %}
                        {% if record_metadata.place_created %}
                            <p><strong>Place created:</strong> {{ record_metadata.place_created }}</p>
                        {% endif %}

                        <!-- natural history metadata -->
                        {% if record_metadata.collectors %}
                            <p><strong>Collected by:</strong> {{ record_metadata.collectors }}</p>
                        {% endif %}
                        {% if record_metadata.identifications %}
                            {% for identification in record_metadata.identifications %}
                                <p>Identified as <em>{{ identification.taxon }}</em> by {{ identification.agent }}</p>
                            {% endfor %}
                        {% endif %}
                        <p><a href="https://collections.tepapa.govt.nz/object/{{ record.id }}">{{ record.id }}</a></p>
                        <p>{{ record_metadata.rights }}</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-success">
                        <figure class="image">
                            <img class="contain collection-image" src="{{ image_url }}">
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}